body {
    background-color: rgb(2, 2, 26);
    height: 100vh;
}
.container{
    font-family: "Monaco", monospace;
    height: 100vh;
    display: grid;
    grid-template-columns: auto, 1fr, 1fr;
    grid-template-rows: 40px, 1fr, 1fr;
    grid-template-areas: 
    'clock message undefined'
    'calendar google todo'
    'seven weather nine';
}


#item1{
    grid-area: clock;
    text-align: left;
    font-size: 3rem;
    color:rgb(255, 255, 255);
}


#item2{
    grid-area: message;
    font-size: 3rem;
    color:rgb(255, 255, 255);
    text-align: center;
}


#item3{
    grid-area: undefined;
}


#item4{
    grid-area: calendar;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.calendar{
    width: 28rem;
    height: 36rem;
    border-radius: 10px;
    border: 1px solid #eee;
}
.month{
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: rgb(255, 255, 255);
}
.date h1{
    font-size: 2rem;
    font-weight: 150;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}
.date p{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.weekdays{
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.2rem;
}
.weekdays div{
    font-size: 1rem;
    font-weight: 300;
    margin: 0.4rem;
    width: calc(22rem /7); /*(width - (margin * 14) + (padding * 2)) / 7 (days of week) -- note that margin only applies to the edges of the container while padding is for the elements wthin the container */
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.days {
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}
.days div{
    font-size: 1rem;
    font-weight: 200;
    margin: 0.4rem;
    width: calc(22rem / 7);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.before-days,
.after-days{
    opacity: 0.5;
}
.today{
    background-color: rgb(255, 255, 255);
    color:rgb(2, 2, 26);
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 20%;
}


#item5{
    grid-area: google;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
}
input[name=q] {
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    width: 40%;
    transition-property: width;
    transition-duration: 1s;
}
input[name=q]:focus {
    width: 80%;
}
input[type=submit] {
    background-color: #eee;
    border-radius: 20px;
    border: none;
    color: rgb(2, 2, 26);
    padding: 16px;
    margin: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    cursor: pointer;
    background: #fff;
    color: #002765;
}


#item6{
    grid-area: todo; 
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.list-container{
    width: 28rem;
    height: 36rem;
    border-radius: 10px;
    border: 1px solid #eee;
    text-align: center;
    overflow: auto;
}
#item6 h1 {
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
}
#task-input {
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    width: 40%;
    transition-property: width;
    transition-duration: 1s;
}
#task-input:focus {
    width: 60%;
}
#enter {
    background-color: #eee;
    border-radius: 20px;
    border: none;
    color: rgb(2, 2, 26);
    padding: 16px;
    margin: 4px;
    cursor: pointer;
}
#enter:hover{
    cursor: pointer;
    background: #fff;
    color: #002765;
}
.to-do-list{
    display: flex;
    flex-direction: column;
}
.task{
    display: flex;
    border-radius: 10px;
    border: 1px solid #eee;
    margin:  0.5rem;
    padding: 0.2rem;
}
.task-text{
    align-self: center;
    margin: 0.5rem;
    font-size: 1rem;
    color:rgb(255, 255, 255);
}
.deleteBtn{
    margin-left: auto;
    align-self: center;
    background-color: #eee;
    border-radius: 20px;
    border: none;
    color: rgb(2, 2, 26);
    padding: 16px;
    cursor: pointer; 
}
.deleteBtn:hover{
    cursor: pointer;
    background: #fff;
    color: #002765;
}


#item7{
    grid-area: seven / clock / seven / undefined;
    display: flex;
}
.weather-app{
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.current-weather{
    display: flex;
    width: 30%;
    height: 85%;
    justify-content: center;
}
.current-weather .today-forecast{
    display: flex;
    width:  100%;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 10px;
    border: 1px solid #eee;
}
.today-forecast .icon{
    margin: 0 auto;
}
.today-forecast .today-info{
    margin: auto;
    padding-top: 0.2rem;
}
.today-info .weather-day{
    font-size: 1.5rem;
    text-align: center;
    background: lightgray;
    border-radius: 50px;
    color: rgb(2, 2, 26);
}
.today-info .weather-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 1.2rem;
    margin: 0.5rem;
    padding-top: 0.2rem;
}
.weather-data .temp{
    padding-top: 0.2rem;
}
.weather-forecast{
    display: flex;
    width: 70%;
    height: 85%;
    justify-content: center;
}
.weather-forecast .forecast-item{
    display: flex;
    width: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 10px;
    border: 1px solid #eee;
}
.weather-forecast .forecast-item .forecast-day{
    font-size: 1rem;
    text-align: center;
    padding: 5px 10px;
    background: lightgray;
    border-radius: 50px;
    margin-bottom: 0.5rem;
}
.forecast-item .temp{
    color:rgb(255, 255, 255);
    font-size: 1rem;
}